@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #0d0e12;
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
